* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Public Sans', sans-serif;
}

a, u {
  text-decoration: none;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}

h3 {
	font-weight: 600;
}
